<div class="navbar">
	<a href="{{rootURL}}/"><img class="masthead-brand" src="assets/LOGOMIN.png" alt="Home" width="91" height="25" border="0"></a>
	<nav class="nav nav-masthead justify-content-center">
	<a class="nav-link" href="{{rootURL}}services">Servicios</a>
	<a class="nav-link" href="{{rootURL}}contacto">Contacto</a>
	{{#if session.isAuthenticated}}
            <a class="nav-link" href="{{rootURL}}dashboard">Logged in as {{session.currentUser.displayName}} </a>
            <a class="nav-link" href="{{rootURL}}login">Logout</a>
      {{else}}
            Logged in as no one {{session.currentUser.displayName}}
            <a class="nav-link" href="{{rootURL}}login">Login</a>
      {{/if}}
	</nav>
</div>

<style>
      a: hover{
            color: white !important;
      }
</style>