<div class="contenedor-principal" style="margin: 20px 50px">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Clientes Potenciales</h1>
        <div class="button-container">
            {{#link-to 'potentialclient.new'}}
                <button class="btn btn-primary myButton"><i class="fas fa-plus-square"></i>Nuevo ClienteP</button>
            {{/link-to}}
            {{#link-to 'dashboard'}}
                <button class="btn btn-primary myButton"><i class="fas fa-arrow-left"></i> Volver al dashboard</button>
            {{/link-to}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <input class="form-control" id="input-search" type="text" placeholder="Buscar">
        </div>
        <div class="col-md-6 col-sm-6"></div>
    </div>

    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ApellidoPaterno</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Servicio De Interes</th>
                <th>Ver</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody id="table-id">
            {{#each model as |potentialclient|}}

                    <tr>
                        <td>{{potentialclient.nombre}}</td>
                        <td>{{potentialclient.apellidoPaterno}}</td>
                        <td>{{potentialclient.email}}</td>
                        <td>{{potentialclient.telefono}}</td>
                        <td>{{potentialclient.numeroDelServicio}}</td>
                        <td>
                            {{#link-to 'potentialclient.edit' potentialclient.id}}
                                <button class="btn-info">Editar</button>
                            {{/link-to}}
                        </td>
                        <td>
                            <button {{action 'deletePotentialClient' potentialclient.id}} class="btn-danger">Eliminar</button>
                        </td>
                    </tr>
            {{/each}}
        </tbody>
    </table>

    <script>
        $(document).ready(function(){
            $("#input-search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#table-id tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</div>