<div class="contenedor-principal" style="margin: 20px 50px">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Pagos</h1>
        <div class="button-container">
            {{#link-to 'dashboard'}}
                <button class="btn btn-primary myButton"><i class="fas fa-arrow-left"></i> Volver al dashboard</button>
            {{/link-to}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-6">
            <input class="form-control" id="input-search" type="text" placeholder="Buscar">
        </div>
        <div class="col-md-6 col-sm-6"></div>
    </div>

    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>ApellidoPaterno</th>
                <th>ApellidoMaterno</th>
                <th>Fecha de pago</th>
                <th>Concepto</th>
            </tr>
        </thead>
        <tbody id="table-id">
            {{#each model as |payment|}}

                    <tr>
                        <td>{{payment.client.nombre}}</td>
                        <td>{{payment.client.apellidoPaterno}}</td>
                        <td>{{payment.client.apellidoMaterno}}</td>
                        <td>{{format-date payment.fecha}}</td>
                        <td>{{payment.concepto}}</td>
                    </tr>

            {{/each}}
        </tbody>
    </table>

    <script>
        $(document).ready(function(){
            $("#input-search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#table-id tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</div>