<form>
    <div class="form-group">

        <div class="row">
            <div class="col s6">
                <label>Nombre: {{model.nombre}}</label>
            </div>
            <div class="col s6">
                <label>Apellido Paterno: {{model.apellidoPaterno}}</label>
            </div>
            <div class="col s6">
                <label>Apellido Materno: {{model.apellidoMaterno}}</label>
            </div>
        </div>

        <div class="col-md-4 col-sm-4">
            <label>Fecha</label>
            {{input type="date" class="form-control" value=fecha}}
        </div>
        <div class="col-md-4 col-sm-4">
            <label>Cantidad</label>
            {{input type="text" class="form-control" value=cantidad}}
        </div>  
        <div class="col-md-4 col-sm-4">
            <label>Concepto</label>
            {{input type="text" class="form-control" value=concepto}}
        </div> 
    </div>


    {{#link-to 'payments'}}
        <button {{action 'addPayment'}} class="btn btn-primary">Guardar</button>
    {{/link-to}}
    {{#link-to 'clients'}}
	    <button class="btn btn-primary">Cancelar</button>
    {{/link-to}}

</form>