<form>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Nombre</label>
            {{input type="text" class="form-control" value=nombre}}
        </div> 
    </div>
    <div class="form-group">
       <div class="col-md-4 col-sm-4">
            <label>Apellido paterno</label>
            {{input type="text" class="form-control" value=apellidoPaterno}}
        </div> 
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Apellido materno</label>
            {{input type="text" class="form-control" value=apellidoMaterno}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Teléfono</label>
            {{input type="text" class="form-control" value=telefono}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Dirección</label>
            {{input type="text" class="form-control" value=direccion}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Colonia</label>
            {{input type="text" class="form-control" value=colonia}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Localidad</label>
            {{input type="text" class="form-control" value=localidad}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Municipio</label>
            {{input type="text" class="form-control" value=municipio}}
        </div>
    </div>
    <div class="form-group">
        <label>Recomendado</label>
        <div class="radio">
            <label><input type="radio" name="recomendado" checked>Sí</label>
            <label><input type="radio" name="optradio">No</label>
        </div>
    </div>

    <button {{action 'addClient'}} class="btn btn-primary">Crear</button>
    <button class="btn btn-primary">Cancelar</button>
</form>