<form>

    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Nombre</label>
            {{input type="text" class="form-control" value=nombre required=true}}
        </div> 
    </div>
    <div class="form-group">
       <div class="col-md-4 col-sm-4">
            <label>Apellido paterno</label>
            {{input type="text" class="form-control" value=apellidoPaterno required=true}}
        </div> 
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Apellido materno</label>
            {{input type="text" class="form-control" value=apellidoMaterno required=true}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Email</label>
            {{input type="email" class="form-control" value=email required=true}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Teléfono</label>
            {{input type="text" class="form-control" value=telefono}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Dirección</label>
            {{input type="text" class="form-control" value=direccion}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Colonia</label>
            {{input type="text" class="form-control" value=colonia}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Localidad</label>
            {{input type="text" class="form-control" value=localidad}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Municipio</label>
            {{input type="text" class="form-control" value=municipio}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Asignar contraseña</label>
            {{input type="text" class="form-control" value=password}}
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-4 col-sm-4">
            <label>Servicio contratado</label>
            <select name="service" class="form-control" onchange={{action "updateValue" value="target.value"}}>
                {{#each model as |service|}}
                    <option value="{{service.id}}">{{service.nombre}}</option>
                {{/each}}
            </select>
        </div>
    </div>

    <div class="form-group">
        
        <div class="input-group date" data-provide="datepicker">
            {{input type="date" class="form-control" value=date}}
        </div>
        <div>
            <label>Time:</label>
            {{input type="time" value=time min="9:00" max="18:00" required=true}}
        </div>

    </div>

    <div class="form-group">
        <label>Cliente Recomendado</label>
        <div class="radio">
            <label><input type="radio" name="recomendado" checked>Sí</label>
            <label><input type="radio" name="optradio">No</label>
        </div>
    </div>
    <div class="form-group">
        <label>Instalación pagada</label>
        <div class="radio">
            <label><input type="radio" name="pagado" checked>Sí</label>
            <label><input type="radio" name="nopagado">No</label>
        </div>
    </div>

    {{#link-to 'clients'}}
        <button {{action 'addClient' model.id}} class="btn btn-primary">Guardar</button>
    {{/link-to}}
    {{#link-to 'clients'}}
	    <button class="btn btn-primary">Cancelar</button>
    {{/link-to}}

</form>