<div class="contenedor-principal" style="margin: 20px 50px">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Pagos</h1>
        <div class="button-container">
            {{#link-to 'clients'}}
                <button class="btn btn-primary myButton"><i class="fas fa-arrow-circle-left"></i> Regresar</button>
            {{/link-to}}
            {{#link-to 'payments.new' model.id}}
                <button class="btn btn-primary myButton"><i class="fas fa-plus-square"></i> Agregar pago</button>
            {{/link-to}}
            
        </div>
        
    </div>

    <h5>Cliente: {{model.nombre}} {{model.apellidoPaterno}} {{model.apellidoMaterno}}</h5>

    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Fecha del pago</th>
                <th>Concepto</th>
                <th>Cantidad</th>
            </tr>
        </thead>
        <tbody id="table-id">
            {{#each model.payments as |payment|}}

                    <tr>
                        <td>{{format-date payment.fecha}}</td>
                        <td>{{payment.concepto}}</td>
                        <td>{{payment.cantidad}}</td>
                    </tr>

            {{/each}}
        </tbody>
    </table>

    <script>
        $(document).ready(function(){
            $("#input-search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#table-id tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

</div>