<div style="display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height:100vh;
    background-color: #f5f5f5;
    background-image: url('{{rootURL}}images/background1.jpg');
    background-size: cover;">
  <form class="form-signin" style="background-color: #fff; margin-top: 40px; padding-top: 40px; padding-bottom: 40px;" action="indexweb.html">
    {{#if session.isAuthenticated}}
      Logged in as {{session.currentUser.uid}}
      <button {{action "signOut"}}>Sign out</button>
      {{outlet}}
    {{else}}
      <center><img class="" src="{{rootURL}}images/logo.png" alt="" width="70">
      <br>
      <br>
      <h6 class="" style="margin:0px; color:#666; font-size:13px;">LOGIN ADMINISTRADOR</h6></center>
    <br>
    <br>
    <label for="inputName" class="sr-only">Nombre</label>
    {{input type="text" id="inputName" class="form-control" placeholder="Nombre" value=name}}

    <label for="inputName" class="sr-only">Apellido Paterno</label>
    {{input type="text" id="inputPaterno" class="form-control" placeholder="Apellido Paterno" value=paterno}}

    <label for="inputName" class="sr-only">Apellido Materno</label>
    {{input type="text" id="inputMaterno" class="form-control" placeholder="Apellido Materno" value=materno}}

    <label for="inputEmail" class="sr-only">Email</label>
    {{input type="email" id="inputEmail" class="form-control" placeholder="Email" value=mail}}

    <label for="inputPassword" class="sr-only">Contraseña</label>
    {{input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" value=pass}}

    {{#if error}}
      <div class="alert alert-danger" role="alert">
        {{error}}
      </div>
    {{/if}}
    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="button" style="font-size: 17px; font-weight: bold; padding:12px 0px;" {{action 'signUp'  name paterno materno mail pass}}>Registrarme</button>
    {{/if}}
    
  </form>
  <p class="" style="position: absolute; color:#fff; bottom:0px; left:47%;">© 2018</p>
</div>